<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Online-Voting</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.cdac.controller.ServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S2</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S2</servlet-name>
    <servlet-class>com.cdac.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S3</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S3</servlet-name>
    <servlet-class>com.cdac.controller.ControlAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vote</servlet-name>
    <url-pattern>/boy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vote</servlet-name>
    <servlet-class>com.cdac.controller.ServletProfile</servlet-class>
  </servlet>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>